.page-photo {
    width: 80%;
    padding: 0 10%;
}

.bloc-photo {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    font-family: $police-principale;
    &__description {
        width: 49%;
        border-bottom: 1px solid black;
        align-self: flex-end;
        padding-bottom: 43px;
    }
    &__image {
        width: 49%;
        object-fit: contain;
    }
    h1 {
        font-style: italic;
        font-weight: 400;
        font-size: 66px;
        line-height: 65px;
        /* or 88% */
        width: 70%;
        text-transform: uppercase;
        margin-left: -1%;
        padding-bottom: 40px;
    }
    p {
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding-bottom: 9px;
    }
}

.contact-photo {
    display: flex;
    height: 118px;
    /* margin: 40px 0; */
    div:first-child {
        display: flex;
        align-items: center;
    }
    p {
        font-family: $police-secondaire;
        font-weight: 300;
        font-size: 14px;
        margin-right: 28px;
    }
    &__btn {
        width: 142px;
    }
}