* {
    margin: 0;
    padding: 0;
}
main {
    max-width: 1980px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a {
    all: unset;
    cursor: pointer;
}

.bloc-page {
    width: 80%;
    padding: 0 10%;
}
.colonnes {
    display: flex;
    justify-content: space-between;
}
.colonne {
    width: 49.2%;
}


#wpadminbar {
    position: fixed;
    z-index: 95;
}



@media screen and (max-width: 1000px) {
    .bloc-page {
        width: 80%;
    }
    .colonne {
        width: 100%;
    }
}